
de_modules/
nohup.out
*.iml
*.cfg
.idea/
.ipr
.iws
*~
~*
*.diff
*.log
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
out/
.sass-cache/
bower_components/
config.rb
dist/
stylesheets/
javascripts/plugin/
javascripts/main-built.js
javascripts/r.js
